/*
RTL Support
*/

body {
	direction: rtl;
	unicode-bidi: embed;
}

caption,
th,
td {
	text-align: right;
}
.toggle-menu{
	    left: initial !important;
	    right: 3.5rem;
}
span.cat-links.mains {
    margin-right: -10px ;

}

span.cat-links.mains::before {
    right: -0px;
    border-left: 10px solid rgb(0, 80, 116);
	border-right: 0px !important;
}

#s {
    float: right !important;
	border-bottom-right-radius: 4px !important;
	border-top-right-radius: 4px !important;
	border-top-left-radius: 0 !important;
	border-bottom-left-radius: 0 !important;
}

#searchsubmit {
    float: right !important;
	border-bottom-right-radius: 0 !important;
	border-top-right-radius: 0 !important;
    border-top-left-radius: 4px !important;
    border-bottom-left-radius: 4px !important;
}

.address i.fa {
    margin-left: 9px !important;
    margin-right: 0 !important;
}

.comment-navigation .nav-previous, .posts-navigation .nav-previous, .post-navigation .nav-previous {
    float: right !important;
    text-align: right !important;
}

h2.widget-title:after{
	    right: 0;
		left: initial !important;
}

.comment-navigation .nav-next, .posts-navigation .nav-next, .post-navigation .nav-next {
    float: left !important;
    text-align: left !important;
}


footer .social{
	text-align: left;
}

.woocommerce div.product .woocommerce-tabs ul.tabs .description_tab:before,
.woocommerce div.product .woocommerce-tabs ul.tabs .reviews_tab:before{
	    left: 22px !important;
}

.woocommerce-error:before, .woocommerce-info:before, .woocommerce-message:before{
	    right: 0.5em !important;
}

ul.ticker li{
	list-style: none;
}
.ticker li span{
	padding: 6px;
    float: right;
}
.breadcrumbs>*{
	float:right;
}
.scrollup{
	    padding-right: 12px;
		    width: auto;
}
#searchform > div > div > div > div.small-2.columns{
	    left: 0;
}