/*
Theme Name: Shop Elite
Theme URI: https://themesaga.com/theme/shop-elite/
Author: Themesaga
Author URI: http://www.themesaga.com/
Description: Shop Elite is a clean, modern and professional responsive eCommerce WordPress Theme. It supports WooCommerce along with providing its own widgets and settings to further enhance the WooCommerce features. With its clean interface and lots of customization option, you can now build any type of online store you want.
Version: 1.0.3
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: shop-elite
Tags: e-commerce, blog, two-columns, left-sidebar, right-sidebar, theme-options, custom-logo, custom-menu, featured-images, threaded-comments, translation-ready
*/
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Normalize
# Typography
# Elements
# Forms
# Navigation
    ## Links
    ## Menus
# Accessibility
# Alignments
# Clearings
# Widgets
# Content
    ## Posts and pages
    ## Comments
# Infinite scroll
# Media
    ## Captions
    ## Galleries
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
html {
    font-family: sans-serif;
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
    display: block;
}

audio,
canvas,
progress,
video {
    display: inline-block;
    vertical-align: baseline;
}

audio:not([controls]) {
    display: none;
    height: 0;
}

[hidden],
template {
    display: none;
}

a {
    background-color: transparent;
}

a:active,
a:hover,
a:visited {
    outline: 0;
}

abbr[title] {
    border-bottom: 1px dotted;
}

b,
strong {
    font-weight: bold;
}

dfn {
    font-style: italic;
}

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

mark {
    background: #ff0;
    color: #000;
}

small {
    font-size: 80%;
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

img {
    border: 0;
}

svg:not(:root) {
    overflow: hidden;
}

figure {
    margin: 1em 40px;
}

hr {
    box-sizing: content-box;
    height: 0;
}

pre {
    overflow: auto;
}

code,
kbd,
pre,
samp {
    font-family: monospace, monospace;
    font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}

button {
    overflow: visible;
}

button,
select {
    text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}

button[disabled],
html input[disabled] {
    cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

.main-btn,
.woocommerce .site .button {
    overflow: hidden;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background: none;
    cursor: pointer;
    padding: 0 80px;
    outline: none;
    position: relative;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.main-btn,
.woocommerce .site .saga-product-buttons .button,
.site .saga-product-buttons .yith-wcwl-add-to-wishlist {
    border-radius: 50px;
    border: 2px solid #fff;
    line-height: 60px;
    height: 60px;
    display: inline-block;
    margin: 0 auto;
    text-align: center;
    font-weight: 700;
}

.main-btn-small {
    font-size: 14px;
    line-height: 45px;
    height: 45px;
    padding-left: 40px;
    padding-right: 40px;
}

.woocommerce .site .saga-product-buttons .button,
.site .saga-product-buttons .yith-wcwl-add-to-wishlist {
    padding: 0 !important;
}

.woocommerce .site .button,
.single-product .yith-wcwl-add-to-wishlist {
    border-radius: 4px;
    display: inline-block;
    padding: 0 50px !important;
}

.single-product .yith-wcwl-add-to-wishlist {
    background: #d4ffe6;
    margin-bottom: 15px;
    padding: 5px 15px !important;
}

.woocommerce .site .woocommerce-message .button {
    line-height: 45px;
    height: 45px;
    margin: -7px auto;
}

.woocommerce .site .saga-product-buttons .button {
    margin: 0 auto !important;
    padding-left: 0;
    padding-right: 0;
    width: 60px;
}

.main-btn:after,
.woocommerce .site .button:after {
    content: '';
    position: absolute;
    z-index: -1;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.main-btn:before,
.woocommerce .site .button:before {
    font-family: "Ionicons";
    content: "\f30f";
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    text-rendering: auto;
    font-size: 24px;
    position: absolute;
    left: 130%;
    top: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.main-btn-small:before {
    line-height: 45px;
    height: 45px;
    font-size: 14px;
}

.woocommerce .site .woocommerce-message .button:before {
    line-height: 45px;
    height: 45px;
}

.woocommerce .site .saga-product-buttons .button:before {
    content: none;
    display: none;
}


.main-btn-primary:before,
.woocommerce .site .button:before {
    color: #fff;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.main-btn-primary:hover:before,
.main-btn-primary:focus:before,
.woocommerce .site .button:hover:before,
.woocommerce .site .button:focus:before {
    left: 80%;
}

input {
    line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    height: auto;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

fieldset {
    border: 2px solid #E5E5E5;
    margin: 30px auto;
    padding: 15px 30px;
}

legend {
    border: 0;
    padding: 15px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

textarea {
    overflow: auto;
}

optgroup {
    font-weight: bold;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

td,
th {
    padding: 0;
}

/*
*--------------------------------------------------------------
* # Typography
*--------------------------------------------------------------
*/

body,
button,
input,
select,
textarea {
    color: #555;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    clear: both;
    font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6,
.top-nav ul li a,
.site-branding .site-title,
.main-navigation .menu ul li a,
.slider-text p,
.breadcrumbs,
.woocommerce .woocommerce-breadcrumb,
.secondary-font,
legend {
    font-family: 'Roboto Condensed', sans-serif !important;
}

.primary-font,
.homepage-widgetarea .widget-title {
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-size: 3em;
    line-height: 1em;
    margin-bottom: .5em;
}

h2 {
    font-size: 2.25em;
    line-height: 1.333333333333333em;
    margin-bottom: .6666666666666667em;
}

h3 {
    font-size: 1.5em;
    line-height: 1em;
    margin-bottom: 1em;
}

h4 {
    font-size: 1.3125em;
    line-height: 1.142857142857143em;
    margin-bottom: 1.142857142857143em;
}

h5 {
    font-size: 1.125em;
    line-height: 1.333333333333333em;
    margin-bottom: 1.333333333333333em;
}

h6 {
    font-size: 1em;
    line-height: 1.5em;
    margin-bottom: 1.5em;
}

p {
    margin-bottom: 1.5em;
}

.small-font {
    font-size: 12px;
}

.entry-title {
    font-size: 20px;
    line-height: 1.4;
}

dfn,
cite,
em,
i {
    font-style: italic;
}

blockquote {
    margin: 0 1.5em;
}

address {
    margin: 0 0 1.5em;
}

pre {
    background: #eee;
    font-family: "Courier 10 Pitch", Courier, monospace;
    font-size: 15px;
    font-size: 0.9375rem;
    line-height: 1.6;
    margin-bottom: 1.6em;
    max-width: 100%;
    overflow: auto;
    padding: 1.6em;
}

code,
kbd,
tt,
var {
    font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
    font-size: 15px;
    font-size: 0.9375rem;
}

abbr,
acronym {
    border-bottom: 1px dotted #666;
    cursor: help;
}

mark,
ins {
    background: #fff9c0;
    text-decoration: none;
}

big {
    font-size: 125%;
}

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    background: #fff;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
}

blockquote,
q {
    quotes: "" "";
}

hr {
    background-color: #ccc;
    border: 0;
    height: 1px;
    margin-bottom: 1.5em;
}

ul,
ol {
    margin: 0 0 1.5em 3em;
}

ul {
    list-style: disc;
}

ol {
    list-style: decimal;
}

li > ul,
li > ol {
    margin-bottom: 0;
    margin-left: 1.5em;
}

dt {
    font-weight: bold;
}

dd {
    margin: 0 1.5em 1.5em;
}

img {
    height: auto; /* Make sure images are scaled correctly. */
    max-width: 100%; /* Adhere to container width. */
}

table {
    margin: 0 0 1.5em;
    width: 100%;
}

/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
    border: 0;
    padding: 0 1em;
}

button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
    border-color: #ccc #bbb #aaa;
}

button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus,
button:active,
input[type="button"]:active,
input[type="reset"]:active,
input[type="submit"]:active {
    border-color: #aaa #bbb #bbb;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
    border: 2px solid #E5E5E5;
    color: #666;
    border-radius: 0;
}

select {
    border: 2px solid #E5E5E5;
    outline: 0;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="range"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="color"]:focus,
textarea:focus {
    color: #111;

}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"] {
    outline: 0;
    padding: 0 15px;
    height: 45px;
    line-height: 45px;
}

select {
    height: 45px;
    line-height: 45px;
}

textarea {
    outline: 0;
    padding-left: 3px;
    width: 100%;
}

/*--------------------------------------------------------------
 # Preloader
 *--------------------------------------------------------------
 */
.preloader {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background: url(assets/images/preloader.svg) center no-repeat #fff;
    background-size: 80px 80px;
    z-index: 9999;
}

.preloader {
    -webkit-transition: all 0.7s ease;
    -moz-transition: all 0.7s ease;
    -ms-transform: all 0.7s ease;
    transition: all 0.7s ease;
}

.page-loaded .preloader {
    transform: translateY(-100%);
    -o-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
}

.page-loaded .header {
    transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    -webkit-transform: translateY(0);
}

.page-loaded .navbar-default {
    transform: translateY(0);
    transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    -webkit-transform: translateY(0);
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/

.header-middle {
    padding: 40px 0;
}

.top-bar-left {
    float: left;
}

.top-bar-right {
    float: right;
}

.info-area {
    background: #fafafa none repeat scroll 0 0;
}

.info-text p {
    font-weight: 400;
}

.head-top-right {
    margin-top: 15px;
    text-align: right;
}

.head-top-right .search-field,
.head-top-right select,
.head-top-right button {
    background: transparent;
    height: 50px;
    line-height: 50px;
    padding: 0 15px;
    border-radius: 30px;
    min-width: 220px;
    -webkit-appearance: none;
}

.head-top-right button {
    color: #fff;
    min-width: 160px;
}

.head-top-right button:hover,
.head-top-right button:focus {
    filter: alpha(opacity=84);
    opacity: 0.84;
}

.search-form input[type="submit"] {
    float: left;
    height: 45px;
    line-height: 45px;
    position: relative;
    outline: 0;
    width: 30%;
}

#masthead .top-header {
    position: relative;
    z-index: 999;
}

#masthead.sticky .top-header {
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
    right: 0;
}

#masthead.top-header {
    padding-top: 15px;
    padding-bottom: 15px;
    -webkit-transition: padding 0.4s ease;
    -moz-transition: padding 0.4s ease;
    transition: padding 0.4s ease;
}

#masthead.sticky .top-header {
    padding-top: 0;
    padding-bottom: 0;
}

.site-branding {
    float: left;
    line-height: 1;
}

.site-branding .site-title {
    display: block;
    font-size: 42px;
    font-weight: 400;
    margin: 0 auto 10px;
}

.site-branding .site-description {
    font-size: 18px;
    margin-bottom: 0;
}

@media only screen and (max-width: 991px) {
    .mobile-table-align {
        display: table;
        height: 100%;
        width: 100%;
    }

    .mobile-table-cell {
        display: table-cell;
        vertical-align: middle;
    }

    .head-top-right {
        position: fixed;
        width: 0;
        height: 100%;
        overflow-y: auto;
        text-align: center;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        padding: 20px;
        z-index: 99999;
        filter: alpha(opacity=0);
        opacity: 0;
        visibility: hidden;
        background-color: #fff;
        margin: auto;
        overflow: hidden;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;
    }

    .reveal-search .head-top-right {
        filter: alpha(opacity=100);
        opacity: 1;
        visibility: visible;
        width: 100%;
    }

    .head-top-right .search-field,
    .head-top-right select,
    .head-top-right button {
        border-radius: 0;
        width: 100%;
    }
}

.reveal-search .close-popup {
    position: fixed;
    bottom: 80px;
    right: 0;
    left: 0;
    margin: auto;
    cursor: pointer;
    z-index: 1;
    width: 40px;
    height: 30px;
    filter: alpha(opacity=100);
    opacity: 1;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.reveal-search .close-popup:after,
.reveal-search .close-popup:before {
    content: '';
    height: 1px;
    width: 41px;
    position: absolute;
    background-color: #000;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.reveal-search .close-popup:before {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.reveal-search .close-popup:after {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
a {
    color: #555;
    text-decoration: none;
}

a:hover,
a:focus,
a:active {
    text-decoration: none;
}

a:focus {
    outline: 0;
}

a:hover,
a:active {
    outline: 0;
}

.primary-bg a {
    color: #fff;
}

/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/
.saga-topnav {
    border-bottom: 1px solid;
}

.top-nav,
.social-icons {
    float: left;
}

.top-nav ul {
    list-style: none;
    margin: 0 auto;
    padding: 0;
}

.top-nav ul li {
    border-right: 1px solid;
    display: inline-block;
}

.top-nav ul li:first-child {
    border-left: 1px solid;
}

.top-nav ul li a {
    display: block;
    font-size: 12px;
    height: 45px;
    line-height: 45px;
    padding-left: 10px;
    padding-right: 10px;
}

.saga-info,
.saga-info > div {
    display: inline-block;
    margin-right: 10px;
    vertical-align: middle;
}

.info-icon i {
    font-size: 22px;
    color: #757575;
    font-weight: 700;
    border: 1px solid;
    width: 34px;
    height: 34px;
    line-height: 34px;
    display: block;
    border-radius: 100%;
    text-align: center;
}

.saga-info {
    margin-top: 6px;
}

.info-content {
    font-size: 14px;
    max-width: 200px;
}

.saga-navigation {
    background: #404040;
    color: #fff;
    position: relative;
}

.saga-navigation a,
.saga-navigation a:hover,
.saga-navigation a:focus {
    color: #fff;
}

.nav-affix .saga-navigation {
    position: fixed;
    margin-left: auto;
    margin-right: auto;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 999;
}

.admin-bar .nav-affix .saga-navigation {
    top: 32px;
}

@media only screen and (max-width: 991px) {
    .nav-affix .saga-navigation {
        padding-left: 0;
        padding-right: 0;
    }
}

@media screen and (max-width: 782px) {
    .admin-bar .nav-affix .saga-navigation {
        top: 46px;
    }
}

@media screen and (max-width: 600px) {
    .admin-bar .nav-affix .saga-navigation {
        top: 0;
    }
}

.main-navigation .toggle-menu {
    height: 60px;
    text-align: center;
    cursor: pointer;
    font-size: 15px;
    margin-left: auto;
    margin-right: auto;
    display: none;
}

.ham {
    width: 23px;
    height: 2px;
    top: 27px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    -webkit-transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    -ms-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
}

.ham:before,
.ham:after {
    position: absolute;
    content: '';
    width: 100%;
    height: 2px;
    left: 0;
    -webkit-transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    -ms-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
}

.ham,
.ham:before,
.ham:after {
    background: #fff;
}

.ham:before {
    top: -8px;
}

.ham:after {
    top: 8px;
}

.ham.exit {
    background-color: transparent;
}

.ham.exit:before {
    -webkit-transform: translateY(8px) rotateZ(-45deg);
    -moz-transform: translateY(8px) rotateZ(-45deg);
    -ms-transform: translateY(8px) rotateZ(-45deg);
    -o-transform: translateY(8px) rotateZ(-45deg);
    transform: translateY(8px) rotateZ(-45deg);
}

.ham.exit:after {
    -webkit-transform: translateY(-8px) rotateZ(45deg);
    -moz-transform: translateY(-8px) rotateZ(45deg);
    -ms-transform: translateY(-8px) rotateZ(45deg);
    -o-transform: translateY(-8px) rotateZ(45deg);
    transform: translateY(-8px) rotateZ(45deg);
}

.main-navigation .menu ul {
    display: inline-block;
    margin: 0 auto;
    padding: 0;
    list-style: none;
    vertical-align: top;
}

.main-navigation .menu ul li {
    position: relative;
    display: inline-block;
    float: none;
}

.main-navigation .menu ul li i {
    padding-left: 10px;
    display: inline-block;
    line-height: 100%;
}

.main-navigation .menu ul > li > a {
    font-size: 14px;
    font-weight: 700;
}

@media only screen and (min-width: 992px) {
    #site-navigation {
        width: 85%;
    }

    .main-navigation .menu ul > li > a {
        display: block;
        line-height: 60px;
        padding: 0 15px;
    }

    .main-navigation .menu ul ul li {
        width: 260px;
    }

    .main-navigation .menu ul ul a {
        color: #fff;
        display: block;
        padding: 12px 30px;
        line-height: inherit;
    }

    .main-navigation .menu ul ul a:before {
        margin-right: 10px;
        position: absolute;
        left: 15px;
        top: 35%;
        display: inline-block;
        font-family: "Ionicons";
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        text-rendering: auto;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        content: "\f3d1";

    }

    .main-navigation .menu ul ul {
        background: #000;
        position: absolute;
        text-align: left;
        visibility: hidden;
        filter: alpha(opacity=0);
        opacity: 0;
        margin: 0 auto;
        padding: 0;
    }

    .main-navigation .menu li:hover > ul {
        visibility: visible;
        filter: alpha(opacity=1);
        opacity: 1;
        z-index: 999;
        -webkit-transition: opacity 0.4s, top 0.4s;
        -moz-transition: opacity 0.4s, top 0.4s;
        -ms-transition: opacity 0.4s, top 0.4s;
        -o-transition: opacity 0.4s, top 0.4s;
        transition: opacity 0.4s, top 0.4s;
    }

    .main-navigation .menu > ul > li > ul {
        top: 100%;
        left: 0;
    }

    .main-navigation .menu > ul > li:last-child > ul {
        left: auto;
        right: 0;
    }

    .main-navigation .menu ul ul ul {
        top: -20px;
        left: 100%;
    }

    .main-navigation .menu ul ul li:hover ul {
        top: 0;
    }
}

.main-navigation .menu .menu-mobile {
    margin: 0;
    padding: 0;
    display: block;
    list-style: none;
    text-align: left;
    position: relative;
    z-index: 9999;
    display: none;
}

.main-navigation .menu .menu-mobile li {
    display: block;
    border-top: 1px solid;
    float: none;
    box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.065), inset 0 1px 0 0 rgba(255, 255, 255, 0.065);
    -webkit-box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.065), inset 0 1px 0 0 rgba(255, 255, 255, 0.065);
    -moz-box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.065), inset 0 1px 0 0 rgba(255, 255, 255, 0.065);
    -ms-box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.065), inset 0 1px 0 0 rgba(255, 255, 255, 0.065);
    -o-box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.065), inset 0 1px 0 0 rgba(255, 255, 255, 0.065);
}

.main-navigation .menu .menu-mobile li a {
    line-height: 50px;
    display: block;
    position: relative;
    padding-left: 0;
    padding-right: 30px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.main-navigation .menu .menu-mobile li a:hover {
    filter: alpha(opacity=70);
    opacity: .7;
}

.main-navigation .menu .menu-mobile li a i {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 30px;
    z-index: 1;
}

.main-navigation .menu .menu-mobile li a i.active:after {
    width: 13px;
    height: 1px;
}

.main-navigation .menu .menu-mobile li a i:before,
.main-navigation .menu .menu-mobile li a i:after {
    content: '';
    width: 13px;
    height: 1px;
    background-color: #fff;
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.main-navigation .menu .menu-mobile li a i:after {
    width: 1px;
    height: 13px;
}

.main-navigation .menu .menu-mobile li .sub-menu,
.main-navigation .menu .menu-mobile li .children {
    list-style: none;
    padding: 0;
    margin: 0;
    border-top: 1px solid;
    display: none;
}

.main-navigation .menu .menu-mobile li .sub-menu > li a,
.main-navigation .menu .menu-mobile li .children > li a {
    margin-left: 15px;
}

.main-navigation .menu .menu-mobile li .sub-menu > li:first-child,
.main-navigation .menu .menu-mobile li .children > li:first-child {
    border-top: 0;
}

.saga-nav {
    display: block;
    float: left;
}

.saga-nav.saga-nav-right {
    float: right;
}

.saga-woo-nav {
    float: left;
    width: 60px;
    position: relative;
    border-left: 1px solid #171717;
    box-shadow: -1px 0 0 0 rgba(255, 255, 255, 0.065), inset -1px 0 0 0 rgba(255, 255, 255, 0.065);
}

.saga-woo-nav:last-child {
    border-right: 1px solid #171717;
    box-shadow: inset -1px 0 0 0 rgba(255, 255, 255, 0.065);
}

.saga-wooicon {
    height: 60px;
    line-height: 60px;
    vertical-align: middle;
    text-align: center;
}

.saga-wooicon i {
    font-size: 24px;
}

@media only screen and (max-width: 480px) {
    .saga-woo-nav {
        width: 40px;
    }

    .saga-wooicon i {
        font-size: 18px;
    }
}

.saga-mincart-items {
    background: #fff;
    color: #333;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 115%;
    right: 0px;
    width: 350px;
    z-index: 9999;
    padding: 20px;
    box-shadow: rgba(33, 76, 122, 0.16) 0px 2px 5px 0px, rgba(33, 76, 122, 0.12) 0px 2px 10px 0px;
    -webkit-box-shadow: rgba(33, 76, 122, 0.16) 0px 2px 5px 0px, rgba(33, 76, 122, 0.12) 0px 2px 10px 0px;
    -moz-box-shadow: rgba(33, 76, 122, 0.16) 0px 2px 5px 0px, rgba(33, 76, 122, 0.12) 0px 2px 10px 0px;
}

.saga-mincart-items a {
    color: #333;
}

.saga-mincart-items .widget,
.saga-mincart-items .woocommerce-mini-cart__buttons {
    margin-bottom: 0;
}

.saga-minicart:hover .saga-mincart-items {
    opacity: 1;
    visibility: visible;
    top: 100%;
    -webkit-transition: 0.4s ease-in-out;
    -moz-transition: 0.4s ease-in-out;
    -o-transition: 0.4s ease-in-out;
    transition: 0.4s ease-in-out;
}

.saga-minicart .current-menu-item ~ .saga-mincart-items,
.woocommerce-checkout .saga-mincart-items {
    display: none;
}

.saga-woo-counter {
    position: absolute;
    height: 17px;
    width: 17px;
    border-radius: 50%;
    text-align: center;
    line-height: 17px;
    color: #fff;
    font-size: 12px;
    top: 8px;
    right: 5px;
}

.saga-mincart-items .woocommerce ul.cart_list li a,
.saga-mincart-items .woocommerce ul.product_list_widget li a {
    display: block;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.2;
}

.saga-mincart-items .woocommerce ul.cart_list li a.remove,
.saga-mincart-items .woocommerce ul.product_list_widget li a.remove {
    font-size: 16px;
    line-height: 1em;
}

.saga-mincart-items .woocommerce ul.cart_list .woocommerce-mini-cart-item {
    margin-bottom: 10px;
}

@media only screen and (max-width: 991px) {
    .header-middle {
        padding: 20px 0;
    }

    .site-branding {
        float: none;
        text-align: center;
    }

    .head-top-right {
        text-align: center;
    }

    .saga-nav {
        float: none;
    }

    .saga-navigation > .container {
        position: relative;
    }

    .saga-nav.saga-nav-right {
        position: absolute;
        top: 0;
        right: 15px;
    }
}

nav.navigation.pagination {
    display: block;
    text-align: center;
}

.nav-links {
    text-align: center;
}

.nav-links .page-numbers,
.woocommerce nav.woocommerce-pagination ul li a,
.woocommerce nav.woocommerce-pagination ul li span {
    display: inline-block;
    min-width: 50px;
    height: 40px;
    line-height: 40px;
    border: 1px solid;
    padding: 0 10px;
}

.woocommerce nav.woocommerce-pagination ul {
    border: 0;
}

.woocommerce nav.woocommerce-pagination ul li {
    margin: 0 3px;
    border: 0;
}

.nav-links .page-numbers.current,
.nav-links .page-numbers:hover,
.nav-links .page-numbers:focus,
.woocommerce nav.woocommerce-pagination ul li a:focus,
.woocommerce nav.woocommerce-pagination ul li a:hover,
.woocommerce nav.woocommerce-pagination ul li span.current {
    background: #000;
    color: #fff;
}

.page-numbers.current,
.woocommerce nav.woocommerce-pagination ul li span.current {
    border: 1px solid #000;
}

/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers. */
.screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

.screen-reader-text:focus {
    background-color: #f1f1f1;
    border-radius: 3px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
    clip: auto !important;
    color: #21759b;
    display: block;
    font-size: 14px;
    font-size: 0.875rem;
    font-weight: bold;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000;
}

#content[tabindex="-1"]:focus {
    outline: 0;
}

/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
.alignleft {
    display: inline;
    float: left;
    margin-right: 1.5em;
}

.alignright {
    display: inline;
    float: right;
    margin-left: 1.5em;
}

.aligncenter {
    clear: both;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/
.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.widget:before,
.widget:after,
.slider-disabled:before,
.slider-disabled:after,
.site-footer:before,
.site-footer:after {
    content: "";
    display: table;
    table-layout: fixed;
}

.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.widget:after,
.slider-disabled:after,
.site-footer:after {
    clear: both;
}

/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
.widget {
    margin: 0 0 1.5em;
}

.widget ol,
.widget ul {
    list-style: none;
    padding-left: 0;
    margin-left: 0;
}

.widget_recent_comments li,
.widget_pages li,
.social-widget-menu li,
.widget_archive li,
.widget_meta li,
.widget_categories li,
.widget_nav_menu li,
.widget_recent_entries li {
    border-bottom: 1px solid;
    padding: 12px 0;
    position: relative;
    display: table;
    width: 100%;
}

.widget select {
    max-width: 100%;
}

.widget-area {
    font-size: 15px;
    letter-spacing: .25px;
}

.widget-title {
    font-size: 18px;
    line-height: 1.4;
    padding: 15px;
    margin: 0 auto 20px;
    position: relative;
    text-align: center;
}

.saga-title-wrapper {
    margin-bottom: 20px;
}

.divider {
    width: 100px;
    height: 4px;
    margin-left: auto;
    margin-right: auto;
}

.saga-desc-wrapper {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    text-align: center;
}

article .entry-header .entry-title {
    font-size: 32px;
    margin: 0 auto;
}

.content-area .widget-title {
    position: relative;
    font-size: 18px;
    text-align: left;
    padding: 10px;
    margin: 15px auto;
}

.woo-categories-widget .category-title {
    font-size: 18px;
    position: relative;
}

.content-area .widget-title:before,
.woo-categories-widget .category-title:before {
    content: "";
    width: 14px;
    height: 14px;
    display: inline-block;
    margin-right: 10px;
    left: 10px;
}

.search-form {
    text-align: center;
}

.search-form label,
.widget .woocommerce-product-search .search-field {
    display: block;
    width: 70%;
    float: left;
}

.search-form label .search-field {
    height: 45px;
    width: 100%;
}

.search-form .search-submit,
.widget .woocommerce-product-search button {
    float: left;
    width: 30%;
}

.widget .woocommerce-product-search button {
    height: 45px;
    line-height: 55px;
}

.head-top-right .search-form input[type="submit"] {
    border-radius: 30px;
    margin-left: 15px;
    width: 210px;
}

.widget_tag_cloud,
.widget_product_tag_cloud {
    margin-bottom: 4em;
    position: relative;
    z-index: 2;
}

.widget_tag_cloud .tagcloud,
.widget_product_tag_cloud .tagcloud {
    margin-bottom: 1.2em;
    *zoom: 1;
}

.widget_tag_cloud .tagcloud:before, .widget_tag_cloud .tagcloud:after,
.widget_product_tag_cloud .tagcloud:before,
.widget_product_tag_cloud .tagcloud:after {
    display: table;
    content: "";
}

.widget_tag_cloud .tagcloud:after,
.widget_product_tag_cloud .tagcloud:after {
    clear: both;
}

.widget_tag_cloud .tagcloud a,
.widget_product_tag_cloud .tagcloud a {
    position: relative;
    color: #616161;
    cursor: pointer;
    display: inline-block;
    float: left;
    font-size: 100% !important;
    font-weight: 400;
    line-height: 1.3;
    margin: 0 12px 12px 0;
    padding: 10px 13px 4px 15px;
    padding: .84em 1em .84em 1.3em;
    position: relative;
    text-align: center;
    text-transform: capitalize;
    vertical-align: middle;
    -webkit-transition: color 0.3s ease, border-color 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease;
    transition: color 0.3s ease, border-color 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease;
}

.footer-widget-area .widget_tag_cloud .tagcloud a,
.footer-widget-area .widget_product_tag_cloud .tagcloud a {
    color: #fff;
}

.widget_tag_cloud .tagcloud a::before,
.widget_product_tag_cloud .tagcloud a::before,
.widget_tag_cloud .tagcloud a::after,
.widget_product_tag_cloud .tagcloud a::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 1px solid;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -ms-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
}

.widget_tag_cloud .tagcloud a:hover::before,
.widget_product_tag_cloud .tagcloud a:hover::before {
    margin-top: 4px;
    margin-left: -4px;
}

.widget_tag_cloud .tagcloud a:hover::after,
.widget_product_tag_cloud .tagcloud a:hover::after {
    margin-top: -4px;
    margin-left: 4px;
    z-index: -1;
}

/*Widget Calander*/
#wp-calendar {
    width: 100%;
    margin: 0;
}

#wp-calendar caption {
    text-align: right;
    color: #333;
    margin-bottom: 15px;
    margin-top: -10px;
}

#wp-calendar thead th {
    text-align: center;
}

#wp-calendar tbody td {
    background: #f5f5f5;
    border: 1px solid #e8e8e8;
    text-align: center;
    padding: 8px;
}

#wp-calendar tbody td:hover {
    background: #fff;
}

#wp-calendar tbody .pad {
    background: none;
}

#wp-calendar tfoot #next {
    text-transform: uppercase;
    text-align: right;
    border: none;
    background: none;
}

#wp-calendar tfoot #prev {
    text-transform: uppercase;
    text-align: left;
    border: none;
    background: none;
}

#wp-calendar tfoot td.pad {
    display: none;
}

/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
.site-content {
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

@media (min-width: 768px) {
    .site-content {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .site-content {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .site-content {
        width: 1170px;
    }
}

@media (min-width: 1600px) {
    .container,
    .site-content {
        width: 1370px;
    }
}

.home .site-content {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
}

.blog:not(.home) .site-content {
    margin-top: 40px;
}

.data-bg,
.bg-image {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    display: block;
}

.bg-color {
    background-color: #000;

}

.bg-image-1 {
    height: 300px;
}

.bg-fixed {
    background-attachment: fixed;
}

#primary,
#secondary {
    float: left;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
}

@media screen and (min-width: 992px) {
    #primary {
        width: 67%;
    }

    #secondary {
        width: 33%;
    }

    .right-sidebar #primary {
        padding-left: 0;
        padding-right: 30px;
    }

    .right-sidebar #secondary {
        padding-left: 30px;
        padding-right: 0;
    }

    .left-sidebar #primary {
        float: right;
        padding-left: 30px;
        padding-right: 0;
    }

    .left-sidebar #secondary {
        padding-right: 30px;
        padding-left: 0;
    }
}

.no-sidebar #primary,
.woocommerce-fullwidth #primary {
    padding-left: 0;
    padding-right: 0;
    width: 100%;
}

.section-block {
    clear: both;
    padding-bottom: 50px;
    padding-top: 50px;
}

.section-block:before,
.section-block:after {
    clear: both;
    content: "";
    display: table;
}

.section-title {
    text-transform: uppercase;
    line-height: 1.4;
}

.error404 #primary,
.page404 #primary {
    width: 100%;
}

.homepage-widgetarea .widget,
.shop-elite-latest-posts {
    margin: 0 auto;
    padding-top: 60px;
    padding-bottom: 60px;
}

.homepage-widgetarea .widget:last-child {
    padding-bottom: 0;
}

.homepage-widgetarea .widget:last-child .slick-dots {
    margin-bottom: 30px;
}

.homepage-widgetarea .shop-elite-cta {
    max-width: 780px;
}

.homepage-widgetarea .widget.widget_call_to_action {
    padding: 0;
}

.shop-elite-cta {
    padding-top: 50px;
    padding-bottom: 50px;
}

.shop-elite-cta.elite-cta-center {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.shop-elite-cta.elite-cta-right {
    text-align: right;
    margin-left: inherit;
    margin-right: 0;
}

.site .widget_call_to_action .widget-title,
.site .widget_call_to_action .saga-desc-wrapper {
    color: #fff;
    line-height: 1.2;
}

.site .widget_call_to_action .shop-elite-cta .widget-title,
.site .widget_call_to_action .shop-elite-cta .saga-desc-wrapper {
    text-align: left;
}

.site .widget_call_to_action .shop-elite-cta.elite-cta-center .widget-title,
.site .widget_call_to_action .shop-elite-cta.elite-cta-center .saga-desc-wrapper {
    text-align: center;
}

.site .widget_call_to_action .shop-elite-cta.elite-cta-right .widget-title,
.site .widget_call_to_action .shop-elite-cta.elite-cta-right .saga-desc-wrapper {
    text-align: right;
}

.site .widget_call_to_action .saga-desc-wrapper {
    font-size: 18px;
}

.homepage-widgetarea .article-details {
    margin-top: -50px;
    z-index: 10;
    position: relative;
    margin-left: 20px;
    margin-right: 20px;
    padding: 10px 20px;
}

.homepage-widgetarea .widget,
.homepage-widgetarea .article-details,
.homepage-widgetarea .widget:nth-child(even) .article-block-wrapper-1 .entry-caption,
.homepage-widgetarea .widget:nth-child(even) .saga-product-wrapper {
    background: #fff;
}

.homepage-widgetarea .widget:nth-child(even),
.homepage-widgetarea .widget:nth-child(even) .article-details,
.homepage-widgetarea .widget:nth-child(odd) .article-block-wrapper-1 .entry-caption,
.homepage-widgetarea .widget:nth-child(odd) .saga-product-wrapper {
    background: #f6f6f6;
}

.homepage-widgetarea .widget:nth-child(even) {
    border-bottom: 1px solid #dedede;
    border-top: 1px solid #dedede;
}

/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
.sticky {
    display: block;
}

.hentry {
    border-bottom: 1px solid;
    margin: 0 0 2.5em;
    padding-bottom: 2.5em;
}

.byline,
.updated:not(.published) {
    display: none;
}

.single .byline,
.group-blog .byline {
    display: inline;
}

.page-content,
.entry-content,
.entry-summary {
    margin: 1.5em 0 0;
}

.single .byline {
    padding-left: 10px;
}

.entry-caption {
    font-size: 14px;
}

article.has-post-thumbnail.show-image .entry-content {
    background: #fff;
    margin-left: 2.5em;
    padding: 0 2.5em;
    position: relative;
    font-size: 18px;
    line-height: 1.8;
    color: #868686;
    margin-top: -4.5em;
    padding: 2.5em 2.5em 0;
}

article.has-post-thumbnail.show-image .entry-footer {
    margin-bottom: 15px;
}

.moretag {
    display: table;
    clear: left;
    margin: 20px 0;
}

.page-links {
    clear: both;
    margin: 0 0 1.5em;
}

.entry-meta {
    margin: 15px auto;
}

.entry-meta,
.entry-footer {
    font-size: 12px;
    font-weight: 700;
}

.site .homepage-widgetarea .slider-disabled {
    margin-left: -10px;
    margin-right: -10px;
}

.slider-disabled .article-block-wrapper,
.slider-disabled .product {
    float: left;
    padding-left: 10px;
    padding-right: 10px;
}

.slider-disabled .article-block-wrapper {
    width: 33.33%;
}

.slider-disabled .product {
    width: 25%;
}

.slider-disabled .article-block-wrapper:nth-child(3n+1),
.slider-disabled .product:nth-child(4n+1) {
    clear: left;
}

.featured-content-wrapper {
    position: relative;
}

.featured-content-title {
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    padding: 20px;
    width: 100%;
    z-index: 9;
}

.featured-content-title .entry-title a {
    color: #fff;
    font-size: 28px;
    display: inline-block;
    padding: 5px 20px;
    background: #000;
    background: rgba(0, 0, 0, 0.64);
}

.article-block-wrapper-1 {
    margin-bottom: 30px;
}

.article-block-wrapper-1 .entry-caption {
    padding: 20px;
    border: 1px solid;
}

/*--------------------------------------------------------------
## Post-navigation
--------------------------------------------------------------*/
.site-main .comment-navigation,
.site-main .posts-navigation,
.site-main .post-navigation {
    border: 1px solid #bac2cc;
    overflow: hidden;
    margin: 0 0 1.5em;
    padding: 10px 5px;
    position: relative;
}

.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
    float: left;
    width: 50%;
}

.nav-previous, .nav-next {
    display: table-cell;
    position: relative;
    padding: 15px;
    width: 50%;
}

.nav-previous a, .nav-next a {
    padding: 0 15px;
    display: inline-block;
    vertical-align: middle;
    font: 700 14px/1.4 'Roboto Condensed', sans-serif;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
    float: right;
    text-align: right;
    width: 50%;
}

.site-main .comment-navigation:after,
.site-main .posts-navigation:after,
.site-main .post-navigation:after {
    content: '';
    width: 1px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    background: #bac2cc;
}

.nav-previous:before,
.nav-next:after {
    content: "";
    display: inline-block;
    font-family: "Ionicons";
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    position: absolute;
    top: 50%;
    margin-top: -7px;
    text-transform: none;
    text-rendering: auto;
    line-height: 1;
    vertical-align: middle;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.nav-previous:before {
    content: "\f3d2";
    left: 15px;
}

.nav-next:after {
    content: "\f3d3";
    right: 15px;
}

.breadcrumbs,
.woocommerce .woocommerce-breadcrumb {
    font-size: 85%;
    padding: 5px 0;
    border-top: 1px solid;
    border-bottom: 1px solid;
    margin-top: 30px;
    margin-bottom: 30px;
}

.breadcrumbs ul {
    list-style: none;
    margin: 0 auto;
    padding: 0;
}

.breadcrumbs ul li {
    display: inline;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 2px;
}

.breadcrumbs ul .trail-item span {
    position: relative;
    padding-right: 7px;
}

.breadcrumbs ul .trail-item.trail-begin span {
    padding-left: 0;
}

.breadcrumbs ul li span:before {
    content: "\f3d3";
    font-family: "Ionicons";
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    text-rendering: auto;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: inline-block;
    vertical-align: middle;
    padding-right: 7px;
}

.breadcrumbs ul .trail-item.trail-begin span:before {
    content: none;
}

/*--------------------------------------------------------------
## Asides
--------------------------------------------------------------*/
.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
    display: none;
}

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
.comment-content a {
    word-wrap: break-word;
}

.bypostauthor {
    display: block;
}

.comments-area .comments-title, .comments-area .comment-reply-title {
    margin: 30px auto;
    text-transform: uppercase;
}

.comment-respond .comment-reply-title {
    margin-top: 30px;
}

.comments-area .comment-list {
    padding-left: 0;
    margin-left: 0;
}

.comments-area .comment-list, .comments-area .comment-list .children {
    list-style-type: none;
}

.comments-area .comment-author img {
    border-radius: 100%;
    width: 64px;
    height: 64px;
    float: left;
    margin-right: 15px;
}

.comments-area .comment-author a {
    color: #35353c;
    text-decoration: none;
}

.comments-area .comment-author .says {
    display: none;
}

.comment-body {
    border-top: 1px solid #e8e8e8;
    padding-top: 30px;
}

.comments-area .comment-content,
.comments-area .comment-awaiting-moderation,
.comments-area .reply {
    font-size: 16px;
    line-height: 1.6;
    padding-left: 80px;
}

.comments-area .comment-content {
    font-style: italic;
}

.comments-area .reply {
    margin-bottom: 15px;
}

.comments-area .reply .comment-reply-link {
    text-decoration: none;
}

.comments-area .reply .comment-reply-link:hover {
    color: #3c3c3c;
}

.comments-area .comment-respond {
    border-top: 1px solid #e8e8e8;
    outline: 0;
}

.comments-area .comment-form-comment label, .comments-area .comment-form-comment textarea {
    width: 100%
}

.comments-area .comment-respond .form-submit input {
    display: inline-block;
    text-decoration: none;
    margin-top: 20px;
    min-width: 180px;
}

.comments-area .comment-respond .form-submit input,
.comments-area .comment-respond .form-submit input:hover {
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out;
}

.comments-area .comment-respond .comment-form-author label,
.comments-area .comment-respond .comment-form-email label,
.comments-area .comment-respond .comment-form-url label {
    width: 100px;
}

.comments-area .comment-notes {
    margin-bottom: 30px;
}

.comments-area .comment-form label {
    color: #808086;
}

.comments-area .blog-img-wide.blogdetails img {
    height: auto;
    padding: 20px;
    width: 100%;
}

.comment-form label {
    color: #707070;
    display: block;
    text-transform: uppercase;
}

.comment-form input[type="text"],
.comment-form input[type="email"],
.comment-form input[type="url"],
.comment-form textarea {
    border-color: #e4e4e4;
    width: 100%;
}

.comment-form-author,
.comment-form-email {
    width: 50%;
    float: left;
}

.comment-form-author {
    padding-right: 10px;
}

.comment-form-email {
    padding-left: 10px;
}

.comment.depth-4 ol {
    margin-left: 0;
    padding-left: 0;
}

@media only screen and (max-width: 767px) {
    .comments-area .comment-list,
    .comments-area .comment-list .children {
        margin-left: 0;
        padding-left: 0;
    }
}

.comment-metadata {
    font-size: 85%;
    line-height: 1.2;
    margin-bottom: 15px;
}

/*--------------------------------------------------------------
# Infinite scroll
--------------------------------------------------------------*/
.infinite-scroll .posts-navigation,
.infinite-scroll.neverending .site-footer {
    display: none;
}

.infinity-end.neverending .site-footer {
    display: block;
}

/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
    border: none;
    margin-bottom: 0;
    margin-top: 0;
    padding: 0;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
    max-width: 100%;
}

/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
.wp-caption {
    margin-bottom: 1.5em;
    max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.wp-caption .wp-caption-text {
    margin: 0.8075em 0;
}

.wp-caption-text {
    text-align: center;
}

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
.gallery {
    margin-bottom: 1.5em;
}

.gallery-item {
    display: inline-block;
    text-align: center;
    vertical-align: top;
    width: 100%;
}

.gallery-columns-2 .gallery-item {
    max-width: 50%;
}

.gallery-columns-3 .gallery-item {
    max-width: 33.33%;
}

.gallery-columns-4 .gallery-item {
    max-width: 25%;
}

.gallery-columns-5 .gallery-item {
    max-width: 20%;
}

.gallery-columns-6 .gallery-item {
    max-width: 16.66%;
}

.gallery-columns-7 .gallery-item {
    max-width: 14.28%;
}

.gallery-columns-8 .gallery-item {
    max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
    max-width: 11.11%;
}

.gallery-caption {
    display: block;
}

.site-footer {
    background: #252525;
    color: #fff;
}

.site-footer a {
    color: #fff;
}

.footer-widget-area {
    padding-top: 50px;
    padding-bottom: 30px;
}

.site-copyright {
    background: #1c1c1c;
    font-size: 12px;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
}

/*--------------------------------------------------------------
##Social Icons
--------------------------------------------------------------*/

.social-icons ul {
    list-style: none;
    padding-left: 0;
    margin: 0 auto;
}

.social-icons ul li {
    display: inline-block;
}

.social-icons ul a {
    display: block;
    position: relative;
    text-align: center;
    width: 28px;
}

.social-icons ul a span {
    display: none;
    filter: alpha(opacity=0);
    opacity: 0;
    visibility: hidden;
}

.social-icons ul li a:after,
.widget .social-widget-menu ul a:before {
    display: inline-block;
    font-family: "Ionicons";
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    text-rendering: auto;
    vertical-align: middle;
    height: 45px;
    font-size: 20px;
    line-height: 45px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
}

.widget .social-widget-menu ul li {
    border: 0;
    display: block;
    padding: 0;
    margin-bottom: 5px;
}

.widget .social-widget-menu ul a:before {
    width: 50px;
    float: left;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
}

.footer-bottom .social-icons ul li a:after {
    border-radius: 100%;
    margin-right: 5px;
}

.widget .social-widget-menu ul li a {
    display: block;
    border: 0;
    position: relative;
    line-height: 45px;
    height: 45px;
    font-size: 18px;
    font-weight: 400;
    z-index: 99;
    padding: 0;
}

.widget .social-widget-menu ul li a span {
    color: #fff;
    padding-left: 15px;
    font-size: 14px;
    text-transform: uppercase;
}

.social-icons ul a[href*="dribbble.com"]:after,
.widget .social-widget-menu ul a[href*="dribbble.com"]:before {
    content: "\f22c";
}

.social-icons ul a[href*="facebook.com"]:after,
.widget .social-widget-menu ul a[href*="facebook.com"]:before {
    content: "\f230";
}

.social-icons ul a[href*="twitter.com"]:after,
.widget .social-widget-menu ul a[href*="twitter.com"]:before {
    content: "\f242";
}

.social-icons ul a[href*="linkedin.com"]:after,
.widget .social-widget-menu ul a[href*="linkedin.com"]:before {
    content: "\f238";
}

.social-icons ul a[href*="instagram.com"]:after,
.widget .social-widget-menu ul a[href*="instagram.com"]:before {
    content: "\f350";
}

.social-icons ul a[href*="youtube.com"]:after,
.widget .social-widget-menu ul a[href*="youtube.com"]:before {
    content: "\f24c";
}

.social-icons ul a[href*="vimeo.com"]:after,
.widget .social-widget-menu ul a[href*="vimeo.com"]:before {
    content: "\f244";
}

.social-icons ul a[href*="plus.google.com"]:after,
.widget .social-widget-menu ul a[href*="plus.google.com"]:before {
    content: "\f234";
}

.social-icons ul a[href*="pinterest.com"]:after,
.widget .social-widget-menu ul a[href*="pinterest.com"]:before {
    content: "\f2b0";
}

.social-icons ul a[href*="tumblr.com"]:after,
.widget .social-widget-menu ul a[href*="tumblr.com"]:before {
    content: "\f240";
}

.social-icons ul a[href*="wordpress.org"]:after,
.widget .social-widget-menu ul a[href*="wordpress.org"]:before,
.social-icons ul a[href*="wordpress.com"]:after,
.widget .social-widget-menu ul a[href*="wordpress.com"]:before {
    content: "\f248";
}

.social-icons ul a[href*="whatsapp.com"]:after,
.widget .social-widget-menu ul a[href*="whatsapp.com"]:before {
    content: "\f4ef";
}

.social-icons ul a[href*="reddit.com"]:after,
.widget .social-widget-menu ul a[href*="reddit.com"]:before {
    content: "\f23a";
}

.widget-title,
.widget .social-widget-menu ul li {
    background: #000;
    color: #fff;
}

.homepage-widgetarea .widget-title {
    background: transparent;
    color: inherit;
    font-size: 26px;
    font-weight: 700;
    margin: 0 auto;
    padding: 0;
}

.main-navigation .menu .menu-mobile li,
.main-navigation .menu .menu-mobile li .sub-menu,
.main-navigation .menu .menu-mobile li .children {
    border-color: #171717;
}

.saga-topnav,
.top-nav ul li,
.top-nav ul li:first-child,
.info-icon i,
.widget_recent_comments li,
.widget_pages li, .social-widget-menu li,
.widget_archive li, .widget_meta li,
.widget_categories li,
.widget_nav_menu li,
.widget_recent_entries li,
.widget_tag_cloud .tagcloud a::before,
.widget_product_tag_cloud .tagcloud a::before,
.widget_tag_cloud .tagcloud a::after,
.widget_product_tag_cloud .tagcloud a::after,
.breadcrumbs,
.hentry,
.woocommerce .woocommerce-breadcrumb,
.article-block-wrapper-1 .entry-caption,
.site-content .widget.widget_product_categories .product-categories li a {
    border-color: #e8e8e8;
}

.footer-widget-area .widget_recent_comments li,
.footer-widget-area .widget_pages li,
.footer-widget-area .social-widget-menu li,
.footer-widget-area .widget_archive li,
.footer-widget-area .widget_meta li,
.footer-widget-area .widget_categories li,
.footer-widget-area .widget_nav_menu li,
.footer-widget-area .widget_recent_entries li,
.footer-widget-area .widget_tag_cloud .tagcloud a::before,
.footer-widget-area .widget_product_tag_cloud .tagcloud a::before,
.footer-widget-area .widget_tag_cloud .tagcloud a::after,
.footer-widget-area .widget_product_tag_cloud .tagcloud a::after,
.footer-widget-area .widget.widget_product_categories .product-categories li a {
    border-color: #333;
}

.main-btn,
.woocommerce .site .button,
.woo-categories-widget .category-title,
.slider-text p {
    letter-spacing: 1px;
}

.site-branding .site-description,
.top-nav ul li a,
.entry-title,
.widget .social-widget-menu ul li a span,
.entry-meta,
.entry-footer,
.site-copyright {
    letter-spacing: 2px;
}

.widget-title,
.main-navigation .menu ul > li > a,
.homepage-widgetarea .widget-title {
    letter-spacing: 2px;
}

.empty-static-page .hentry,
.empty-static-page .entry-content {
    margin: 0 auto;
    padding: 0;
}

.shop-elite-static-page .hentry {
    border: 0;
    margin-bottom: 0;
}

.site-branding .site-title {
    letter-spacing: 6px;
}

.main-btn,
.woocommerce .site .button,
.top-nav ul li a,
.entry-title,
.site-branding .site-title,
.main-navigation .menu ul > li > a,
.entry-meta,
.entry-footer,
.widget-title,
.site-copyright,
.breadcrumbs,
.woocommerce .woocommerce-breadcrumb {
    text-transform: uppercase;
}

.saga-icon {
    color: #8BC34A;
    border: 1px solid #8BC34A;
    font-size: 20px;
    width: 35px;
    height: 35px;
    line-height: 33px;
    display: inline-block;
    border-radius: 100%;
    text-align: center;
    margin-right: 5px;
    padding-left: 2px;
    vertical-align: middle;
}

.saga-icon-1 {
    margin-left: 5px;
}

.saga-top-ad-space {
    text-align: center;
}

@media only screen and (max-width: 1599px) {
    .site-branding .site-description {
        font-size: 14px;
    }
}

@media only screen and (max-width: 1199px) {
    .top-bar-left {
        padding-bottom: 10px;
        padding-top: 10px;
        text-align: center;
        width: 100%;
    }

    .top-bar-right {
        float: none;
        text-align: center;
    }

    .top-nav ul li,
    .top-nav ul li:first-child {
        border: 0;
    }

    .top-nav, .social-icons {
        float: none;
        display: inline-block;
    }
}

@media only screen and (max-width: 991px) {
    .slider-disabled .product {
        width: 50%;
    }

}

@media only screen and (max-width: 640px) {
    .slider-disabled .product,
    .slider-disabled .article-block-wrapper {
        width: 100%;
        max-width: 400px;
        margin-left: auto;
        margin-right: auto;
        float: none;
    }
}
.error-404 {
    margin: 0 auto 60px;
    text-align: center;
    max-width: 780px;
}
/*--------------------------------------------------------------
##Back to top
--------------------------------------------------------------*/
#scroll-up {
    position: fixed;
    z-index: 8000;
    bottom: 45px;
    right: 30px;
    display: none;
    width: 48px;
    height: 48px;
    font-size: 24px;
    line-height: 48px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

#scroll-up:hover,
#scroll-up:focus {
    background-color: #373737;
    border-color: #373737;
    line-height: 45px;

}

#scroll-up:hover i,
#scroll-up:focus i {
    color: #fff;
    display: block;

}

@media only screen and (max-width: 767px) {
    #scroll-up {
        right: 20px;
        bottom: 20px;
    }
}


/*--------------------------------------------------------------
##Plugin Support
--------------------------------------------------------------*/
.elementor-html .preloader {
    display: none;
}

a:hover,
a:focus,
a:active,
.site-footer a:hover,
.site-footer a:focus,
.saga-mincart-items a:hover,
.saga-mincart-items a:focus {
    color: #ff424e;
}


.main-btn-primary,
.primary-bg,
.woocommerce .site .button,
body button,
body input[type="button"],
body input[type="reset"],
body input[type="submit"],
.main-btn-primary:hover,
.main-btn-primary:focus,
.head-top-right button,
.saga-woo-counter,
.divider,
.widget .social-widget-menu ul a:before,
body.single .comments-area .comment-respond .form-submit input#submit,
.woocommerce #respond input#submit{
    background: #ff424e;
    color: #fff;
}

@media only screen and (min-width: 992px) {
    .main-navigation .menu ul > li.current-menu-item > a,
    .main-navigation .menu ul > li:hover > a,
    .main-navigation .menu ul ul a:hover {
        background: #ff424e;
        color: #fff;
    }
}

.main-btn-primary:active {
    border-color: #ff424e;
}




@media (max-width: 768px){
.form-inline .form-group {
    display: block;
    margin-bottom: 10px;
    vertical-align: middle;
}
}

/*----------cart pages ---------*/
.woocommerce-cart .wc-proceed-to-checkout a.checkout-button{
    font-size: 1.05em;
    padding: 0 20px !important;
}
@media (max-width: 375px){
    .saga-mincart-items {
    width: 300px;
    }
    .woocommerce .site .button{
        padding: 0 20px !important;
    }
}

/*----------blog pages ---------*/
@media (max-width: 426px){
    article.has-post-thumbnail.show-image .entry-content {
        background: #fff;
        margin-left: 20px;
        margin-right: 20px;
        font-size: 14px;
        line-height: 1.8;
        color: #868686;
        margin-top: -50px;
        padding: 20px;
    }
    article.has-post-thumbnail.show-image .entry-content .entry-footer span{
        display: block;
        margin-bottom: 10px;
    }
    article.has-post-thumbnail.show-image .entry-content .entry-footer span .saga-icon {
        font-size: 16px;
        width: 25px;
        height: 25px;
        line-height: 24px;
        float: left;
    }
}

/*home shop page*/
.home.post-type-archive-product .site-content{
    padding-left:15px;
    padding-right:15px;
}
@media (min-width: 768px) {
    .home.post-type-archive-product .site-content{
        width: 750px;
    }
}

@media (min-width: 992px) {
    .home.post-type-archive-product .site-content{
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .home.post-type-archive-product .site-content{
        width: 1170px;
    }
}
@media (min-width: 1600px) {
    .home.post-type-archive-product .site-content{
        width: 1370px;
    }
}